* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

body{
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb);
    display: grid; /* Activa Grid */
    place-items: center; /* Centra horizontal y verticalmente */
    height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    margin: 0; /* Elimina márgenes predeterminados */
    text-align: center;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 50px;
}

p{
    font-size: 22px;
    margin-bottom: 20px;
}

.container__boton {
    border-radius: 16px;
    background: #b15053;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__boton:disabled {
    background: #b15053;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #b42d5f;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2em;
}